<script src='../../../assets/vue.min.js'></script>
<script src='./capabilities.js'></script>
<script>
  Homey.setTitle(__('pair.title.device'));
  new Vue({
    el: '#capab_instructions',
    data: {
      instructions: __('pair.select.capabilities')
    }
  });

  Homey.emit('getPairingDevice', null, function (err, result) {
    if (err) {
      console.log(err);
      return;
    }
    console.log(result);
    Homey.setTitle(__('pair.title.device') + ' ' + result.name);

    new Vue({
      el: '#app',
      data: {
        capabilities: devices[result.class].capabilities,
        selectedCapabilities: devices[result.class].defaultCapabilities
      },
      watch: {
        'selectedCapabilities': function(val){
          Homey.emit('addCapabilities', {'capabilities': val}, function (err, result) {
            if(err){console.log(err); return;}
            console.log(result);
          });
        }
      }
    });

  });
</script>

<span id='capab_instructions'>{{instructions}}</span>
<div id="app">
  <ul id="devices-list" >
    <li class="device" v-for="(key, value) in capabilities">
		<label :for="key" class="name">
			<div class="overlay"></div>
			<span class="name" tabindex="-1">{{ __('capability.' + key) }}</span>
		</label>
		<label :for="key" class="checkbox">
			<input :id="key" :value="key" name="device" type="checkbox" tabindex="2" v-model="selectedCapabilities">
		</label>
	</li>
  </ul>
</div>
